<h2>Search Book</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Published after</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
        </div>
        <div class="form-item">
            <label>Published before</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button type="submit">Search</button>
    </div>
</form>
<br>
<div>
    <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
        <!-- wrap book in an anchor tag -->
        <img height="150px" width="150px" src="<%= book.coverImagePath %>">
    </a>
    <div>Title: <%= book.title %>, Description: <%= book.description %></div>
    <%});%>
</div>